$color-blue: #3bb4c5
$color-dark-blue: #115673
$color-darker-blue: #0c3e53
$color-accent: $color-dark-blue
$color-text-alt: $color-darker-blue

$heading-font-family: "Schrifted Serif", serif
$body-font-family: $heading-font-family
$h1-weight: normal
$h1-line-height: 100%
$quote-size-desktop-short: pxToRem(40)
$quote-size-desktop-long: pxToRem(40)

$header-background: none
$header-dropdown-background: none
$header-sticky-background: none
$header-border-bottom-width: 0
$header-logo-height: 80px
$header-logo-height-desktop: 120px
$hero-background-color: none
$footer-background-color: $color-blue
$footer-logo-height: 200px
$footer-logo-height-desktop: 250px
